#LoginPage{
  background: color($colors, gris);
}
page-login {
.scroll-content{
  text-align: center;
}
.logincard{
  background: color($colors, light);
 // background:  #3399FF;
  border-radius: 15px;
}
.item{
 background: color($colors, light);
  //background: #3399FF;
}
}