c pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>وكالات</ion-title>
  

    </ion-navbar>
  
</ion-header>


 
<ion-content >
 
    <ion-searchbar [(ngModel)]="searchTerm"  [formControl]="searchControl" [showCancelButton]="showCancelButton" [cancelButtonText]="showCancelText" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
        <ion-item *ngFor="let agence of result" (click)="showDetails(agence.nom)">
            {{agence.nom}} <p> {{agence.ville}}</p>
        </ion-item>
    </ion-list>
 
</ion-content>