<!--
  Generated template for the TodolistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
     
        <ion-title>اللائحة</ion-title>


    </ion-navbar>
</ion-header>

<ion-content dir="rtl">

    <ion-list *ngFor="let cat of categories "> 
            <ion-item-divider  color="gris">{{cat.nomCategorie}}</ion-item-divider>
            <ng-container *ngFor="let item of tasks">
            <ion-item-sliding #slidingItem text-wrap >
                <ion-item *ngIf="item.categorieId===cat.idCategorie ">
                    <ion-label >{{item.title}}  </ion-label> 
                    <ion-checkbox name="chk" color="done" (click)="checkItem(item)" [(ngModel)]="item.isDone" [checked]="item.isDone" item-right>
               
                     </ion-checkbox>   
                    </ion-item>
                     <ion-item-options side="right">
                            <button ion-button color="secondary" (click)="editItem(slidingItem,item.id)">
                                <ion-icon name="paper"></ion-icon>
                            </button>
                            <button ion-button color="danger" (click)="deleteItem(slidingItem,item.id)">
                                <ion-icon name="trash"></ion-icon>
                            </button>
                        </ion-item-options>
            </ion-item-sliding>
        </ng-container>
    </ion-list>
    <ion-fab top left>
            <button  color="favorite" ion-fab mini (click)="presentAddModal()">
                <ion-icon name="add" ></ion-icon>
            </button>
    
        </ion-fab>
    </ion-content>
<!--
        <ion-item-sliding *ngFor="let item of tasks">
            <ion-item>
                <ion-label>{{item.title}}</ion-label>
                <ion-checkbox name="chk" (click)="checkItem(item.id)" [checked]="item.IsDone" item-right>
                </ion-checkbox>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="secondary" (click)="editData(item.id)">
                    <ion-icon name="paper"></ion-icon>
                </button>
                <button ion-button color="danger" (click)="deleteData(item.id)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
        -->
   

    

    <!--
       
        <ion-item-divider color="light">Agence</ion-item-divider>
        <ion-item *ngFor="let pending of pendingTasks">
            <ion-label>{{pending.Title}}</ion-label>
            <ion-checkbox name="ped" [checked]="pending.IsDone" item-right></ion-checkbox>
            <! <ion-checkbox [(ngModel)]="cucumber" (ionChange)="updateCucumber()" item-right></ion-checkbox> 
        </ion-item>


        <ion-item>
            <ion-label>Lorem, ipsum.</ion-label>
            <ion-checkbox [(ngModel)]="cucumber" (ionChange)="updateCucumber()" item-right></ion-checkbox>
        </ion-item>
        <ion-item-divider color="light">Personnel</ion-item-divider>
        <ion-item>
            <ion-label>lorem3</ion-label>
            <ion-checkbox [(ngModel)]="cucumber" (ionChange)="updateCucumber()" item-right></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>lorem4</ion-label>
            <ion-checkbox [(ngModel)]="cucumber" (ionChange)="updateCucumber()" item-right></ion-checkbox>
        </ion-item>
    -->

