<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

    <ion-navbar>

        <ion-title>اختبر معلوماتك</ion-title>
       
    </ion-navbar>
</ion-header>
<ion-content padding dir="rtl">
    <ion-card *ngFor="let quiz of allQuiz" class="quizcard">
        <ion-card-header text-wrap> <strong>{{quiz.question}}</strong> </ion-card-header>
        <ion-card-content>
            <ion-list *ngIf="quiz.type===0 && !quiz.answered" radio-group >

                <ion-item *ngFor="let resp of quiz.responses" color="gris">
                    <ion-label text-wrap>{{resp.answer}} </ion-label>
                    <ion-radio (click)="select(resp,quiz)" color="favorite" ></ion-radio>
                </ion-item>
                <button ion-button block color="favorite" (click)="verify(quiz)">تحقق من الجواب</button>
            </ion-list>
            <ion-list *ngIf="quiz.type===0 && quiz.answered" radio-group>

                <ion-item *ngFor="let resp of quiz.responses" color="gris">
                    <ion-label text-wrap color="secondary">{{resp.answer}}</ion-label>
                    <ion-radio [disabled]="!resp.iscorrect" [checked]="resp.iscorrect" color='secondary'></ion-radio>

                </ion-item>
                <button ion-button block  color="favorite" [disabled]="quiz.answered" (click)="verify(quiz)">تحقق من
                    الجواب</button>
            </ion-list>
            <ion-list *ngIf="quiz.type===1 && !quiz.answered">

                <ion-item *ngFor="let resp of quiz.responses" color="gris">
                    <ion-label text-wrap>{{resp.answer}}</ion-label>
                    <ion-checkbox (ionChange)="addselectquiz(resp,quiz)" [(ngModel)]=resp.checked color="favorite" ></ion-checkbox>
                </ion-item>

                <button ion-button block class="marginTop" color="favorite" (click)="verifyMulti(quiz)">تحقق من الجواب</button>
            </ion-list>
            <ion-list *ngIf="quiz.type===1 && quiz.answered" radio-group>

                <ion-item *ngFor="let resp of quiz.responses" color="gris">
                    <ion-label text-wrap color='secondary'>{{resp.answer}}</ion-label>
                    <ion-checkbox [disabled]="!resp.iscorrect" [checked]="resp.iscorrect" color='secondary'></ion-checkbox>
                </ion-item>
                <button ion-button block class="marginTop" color="favorite"  [disabled]="quiz.answered" (click)="verifyMulti(quiz)">تحقق من
                    الجواب</button>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>