<!--
  Generated template for the DuaaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only>
                <ion-icon name='menu'></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>دعاء</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openModal()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding id="DuaaPage" background="favorite" dir="rtl" >
   
  <ion-slides #pageSlider (ionSlideDidChange)="onSlideMoved()" pager="true" dir="rtl">
    <ion-slide class="swiper-slide" *ngFor="let post of posts">



      <h1 [innerHTML]="post.title.rendered"></h1>

      <p [innerHTML]="post.excerpt.rendered"></p>


      <!-- <ion-row>
        <ion-col>
          <button ion-button class="action-button" icon-star clear [hidden]="post.favorite" (click)="addtoFavorite(post)">
            <ion-icon name="ios-star-outline"></ion-icon>
          </button>
          <button ion-button class="action-button" icon-star clear *ngIf="post.favorite" (click)="removeFavorite()">
            <ion-icon name="ios-star"></ion-icon>
          </button>
        </ion-col>
      <ion-col>
              <button ion-button class="action-button" clear >
                <ion-icon name="play"></ion-icon>
              </button>
            </ion-col>

      </ion-row> -->


      <!-- <button *ngIf=lastSlide ion-button block round   (click)="startQuiz()">quiz</button> -->
      <ion-row >
          <ion-col>
            <button ion-button  clear  outline icon-only class="marginTop" (click)="moveback()"><ion-icon name="ios-arrow-dropleft"></ion-icon></button>
          </ion-col>
          <ion-col>
            <button ion-button  clear  outline icon-only  class="marginTop" (click)="moveNext()"><ion-icon name="ios-arrow-dropright"></ion-icon></button>
          </ion-col>
        </ion-row>
      <!-- <button *ngIf=!lastSlide ion-button block class=" marginTop" (click)="moveNext()">next</button> -->
    </ion-slide>

  </ion-slides>
  
</ion-content>