#SignupPage{
    background: color($colors, gris);
  }
  page-signup {
  .scroll-content{
    text-align: center;
  }
  .signupcard{
    background: color($colors, light);
   // background:  #3399FF;
    border-radius: 15px;
  }
  .item{
   background: color($colors, light);
    //background: #3399FF;
  }
  }